.Genre {
    width: 100%;
    display: flex;
    justify-content: left;
}

.GenreTable {
    margin-top: 4%;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 80%;
}

.input {
    width: 95%;
    height: 100%;
    text-align: center;
    background-color: white;
    border: none;
}

    .input:focus {
        border: #637483 1px solid;
        outline: none;
    }

.newRow, .newRowId {
    background-color: white;
    padding: 0;
    margin: 0;
    border: none;
}

.newRow {
    width: 100%;
}

.idColumn {
    width: 15%;
}

.Genre td {
    text-align: center;
    height: 15%;
}

.Genre td, th {
    border: 1px solid #ddd;
    margin: 2px;
}

.Genre tr:nth-child(odd) {
    background-color: white;
}

.Genre tr:hover {
    background-color: antiquewhite;
}

.Genre th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: white;
    color: black;
}

.FaEdit, .FaTrashAlt, .FaPlusCircle {
    float: right;
    margin: 3px;
    color: black;
}

    .FaEdit:hover, .FaTrashAlt:hover, .FaPlusCircle:hover {
        cursor: pointer;
        color: #606060
    }
